CLIENT_GATEWAY_PORT=3000


PAYMENTS_MS_PORT=3003

# https://dashboard.stripe.com/acct_1UMB6oGzdfjuDtVy/test/apikeys
STRIPE_SECRET=

STRIPE_SUCCESS_URL=http://localhost:3003/payments/success
STRIPE_CANCELLED_URL=http://localhost:3003/payments/cancelled

# https://dashboard.stripe.com/acct_1UMB6oGzdfjuDtVy/test/workbench/webhooks/we_1UMhDhGzdfjuDtVyzsiJoN6i/events?attemptId=wc_1UMhwwGzdfjuDtVyIANyAm9l
STRIPE_ENDPOINT_SECRET=

AUTH_DATABASE_URL=mongodb+srv://carvajalquirozmarcos_db_user:ifaRgSOkCMBgUk1A@auth-microservice-db.w0vxobb.mongodb.net/AuthDB

JWT_SECRET=EstoDebeSerUnStringSeguro